body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: right;
    flex-direction: column;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #bcfff0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-info {
    display: flex;
    gap: 5px;
    width: 230px;
    margin-left: 660px;
    text-align: left;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 0.05px solid #ffffff;
    border-radius: 5px;
}

.admin-info span {
    display: block;
    font-size: 16px;
    color: #ffffff;
}

h1 {
    font-family: 'Georgia', serif;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    display: block;
    text-align: left;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #24a399;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #76e8ec;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #51b8b8;
}

.msg-error {
    color: #f44336;
    font-size: 18px;
    margin-top: 20px;
}

.voltar-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #76e8ec;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.voltar-link:hover {
    background-color: #51b8b8;
}